*{
    margin: 0;
    padding: 0 ;
    font-family: sans-serif;
}

/*---------------------header----------------------------*/
.navbar{
    background: #e0e0de;
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;

}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color:#555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
#header{
    height: 100vh;
    background-image: url(img1/image1.png);
    background-position: center;
    background-size:cover ;
}
.container{
    margin-right: 100px ;
    margin-left: 100px;
}
.logo{
    margin-top: 30px;  
    width: 100px;
}

h1{
    font-size: 34px;
    color: #e8505b ;
    text-align: center;
  }
  .square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #455a63;
    margin: 15px 0 ;
}
/*--------------------organs-------------------*/
#organs{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e0e0de;
    top: 50%;
}
.content{
    position: absolute;
    left: 50%;
    transform: translate(-50% , -50%);    
}
.content ul li{
    color: #555;
}
#legal2{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #e0e0de;
    top: 50%;
}
.content2{
    position: absolute;
    left: 50%;
    transform: translate(-50% , -50%); 
     
}
/*-----footer----------*/
#footer{
    background: #e0e0de;
    padding: 50px 0 30px;
}
hr{
  width: 100%; 
  border: 0; 
  border-top: 1px solid #455a63;
}
.footer-row{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap; 
}
.footer-left-col{
   flex-basis: 50% ; 
   margin-top: 60px;
}
.footer-right-col{
    flex-basis: 35% ; 
 }
 .footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 } 
 .link-title h4{
     color: #e8505b ; 
     margin-bottom: 20px;
 }  
 .link-title small{
     font-size: 13px;
     color: #455a63;
 }
 .app-logo{
    margin-top: 20px; 
 }
 .app-logo img{
     width: 140px ;

 }
 .footer-right-col h4 {
     color: #e8505b; 
 }
